<div class="container p-4">
  <h1 class="mb-4">Como Validar QR Codes - Guia para Parceiros Duck GO!</h1>
  <p>
    Seja bem-vindo ao guia de validação de QR Codes do Duck GO! Se sua empresa é
    uma parceira em nossa emocionante aventura pela cidade de Pato Branco, este
    guia o ajudará a validar os QR Codes apresentados pelos clientes e a
    proporcionar a eles experiências incríveis com descontos e recompensas.
  </p>

  <h2 class="mt-4">Passo 1: Acesse o Web App</h2>
  <ol>
    <li>
      Em seu dispositivo, acesse o site oficial do
      <a routerLink="">Duck GO!</a>.
    </li>
    <li>Certifique-se de estar logado com a conta oficial da sua empresa.</li>
  </ol>

  <h2 class="mt-4">Passo 2: Inicie a Câmera</h2>
  <ol>
    <li>
      Na página inicial do web app, localize e clique no botão da câmera. Isso
      ativará a função de leitura de QR Code.
    </li>
    <li>
      Assim que a câmera for iniciada, posicione-a de forma que o QR Code
      apresentado pelo cliente fique visível no visor.
    </li>
  </ol>

  <h2 class="mt-4">Passo 3: Validação do QR Code</h2>
  <ol>
    <li>Aponte para o QR Code apresentado pelo cliente.</li>
    <li>
      Se o código for válido, uma mensagem de sucesso será exibida, confirmando
      a validade do QR Code.
    </li>
    <li>
      Caso contrário, uma mensagem de erro indicará que o QR Code não é válido
      ou já foi utilizado.
    </li>
  </ol>

  <h2 class="mt-4">Dicas Importantes para Parceiros</h2>
  <ul>
    <li>
      Cada QR Code pode ser validado apenas uma vez, por isso é essencial ficar
      atento e assegurar que não haja reutilizações indevidas.
    </li>
    <li>
      Validar sempre os QR Codes dos clientes é crucial para garantir a
      integridade da promoção e evitar abusos quanto aos descontos e recompensas
      que você oferece.
    </li>
    <li>
      Em caso de problemas ou dúvidas, não hesite em entrar em contato com a
      equipe Duck GO! Estamos aqui para ajudar e garantir uma experiência fluida
      para todos!
    </li>
  </ul>
</div>
