<div class="container d-flex justify-content-center">
  <div *ngIf="profileApi.loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!profileApi.loading" class="container p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-6 col-md-2">
      <div class="">
        <img *ngIf="user?.profile_photo"
          src="{{ user?.profile_photo }}"
          class="img-thumbnail rounded float-start"
        />
        <img *ngIf="!user?.profile_photo"
          src="https://duck-go.s3.sa-east-1.amazonaws.com/media/lusers/Pato-1.png"
          class="img-thumbnail rounded float-start"
        />
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col col-md-5">
      <p
        class="text-center fw-bold fs-5"
        [ngClass]="{
          'text-danger': user?.is_partner,
          'text-uppercase': user?.is_partner
        }"
      >
        {{ user?.username | titlecase }}
      </p>
      <p *ngIf="!user?.is_partner" class="text-center fw-bold fs-5">
        Pontuação Atual: {{ total_points }} Pontos
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <hr class="border border-primary border-2" />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <a routerLink="dados" class="btn btn-primary w-100">Dados</a>
        </div>
        <div *ngIf="!user?.is_partner" class="col">
          <a routerLink="historico" class="btn btn-success w-100">Histórico</a>
        </div>
        <div *ngIf="user?.is_partner" class="col">
          <button
            [disabled]="!partnerPage"
            (click)="navigateToPartner()"
            class="btn btn-success w-100"
          >
            Empresa
          </button>
        </div>
        <div class="col">
          <a routerLink="meus-cupons" class="btn btn-danger w-100"
            >Prêmios</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <hr class="border border-primary border-2" />
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
