<div class="container d-flex justify-content-center">
  <div *ngIf="apiLocation.loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!apiLocation.loading" class="px-3">
  <div
    *ngFor="let location of apiLocation.locations"
    class="container border border-3 border-primary rounded my-2 location-summary"
    (click)="redirect(location.slug_field)"
  >
    <div class="row p-3">
      <div class="col-md-3">
        <img
          src="{{ location.photo_1 }}"
          alt="{{ location.name }}"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-9">
        <a
          class="text-decoration-none d-flex justify-content-center pb-2 text-primary fw-bolder fs-4 text-center py-3"
          >{{ location.name }}</a
        >
        <p>{{ location.resume }}</p>
      </div>
    </div>
  </div>
</div>



<style>
  .location-summary:hover {
    background-color: rgba(0, 123, 255, 0.1);
    cursor: pointer;
  }

  .location-details .carousel {
    max-height: 400px;
    overflow: hidden;
  }

  .icon-link {
    color: #198744;
  }

  .icon-link-hover:hover {
    color: #198744;
    text-decoration: underline;
  }
  .carousel-img {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
  }

  @media (min-width: 768px) {
    .carousel-img {
      max-height: 500px;
      object-fit: contain;
    }
  }
</style>
