<div class="container d-flex justify-content-center mt-4">
  <div *ngIf="apiPartner.loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!apiPartner.loading" class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
      <div class="card shadow-sm mb-4">
        <div class="row g-0">
          <div class="col-md-4 col-sm-12 d-flex align-items-center justify-content-center p-3">
            <img
              src="{{ partner?.profile_photo ? partner.profile_photo : 'https://duck-go.s3.sa-east-1.amazonaws.com/media/lusers/Pato-1.png' }}"
              alt="Logo"
              class="img-fluid rounded-circle"
              style="object-fit: contain; max-height: 10rem"
            />
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="card-body">
              <h5 class="card-title fw-bold">{{ partner?.partner_company_name }}</h5>
              <p class="card-text">{{ partner?.partner_company_description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card bg-info-subtle mb-4">
        <div class="card-header fw-bold fs-3">Contato</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="partner?.partner_number_contact">
            <strong>Telefone:</strong> {{ partner?.partner_number_contact }}
          </li>
          <li class="list-group-item" *ngIf="partner?.partner_email_contact">
            <strong>E-mail:</strong> {{ partner?.partner_email_contact }}
          </li>
        </ul>
      </div>

      <div class="card bg-warning-subtle border-warning">
        <div class="card-header fw-bold fs-3">Endereço</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="partner?.address_street">
            <strong>Rua:</strong> {{ partner?.address_street }}
          </li>
          <li class="list-group-item" *ngIf="partner?.cep">
            <strong>CEP:</strong> {{ partner?.cep }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
