<div class="row d-flex justify-content-center">
  <div class="col-md-6 fs-2 fw-bold py-2">Trocar de Senha:</div>
</div>
<form action="" [formGroup]="change">
  <div class="row d-flex justify-content-center">
    <div * class="col-md-6 fs-2 fw-bold py-2">
      Dados do Usuário:
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <label for="old" class="form-label">Senha Antiga:</label>
      <input
        id="old"
        name="old"
        type="password"
        class="form-control"
        formControlName="old"
        [ngClass]="{
          'is-invalid':
            this.change.get('old')?.invalid &&
            (this.change.get('old')?.touched || this.change.get('old')?.dirty),
          'is-valid':
            this.change.get('old')?.valid &&
            (this.change.get('old')?.touched || this.change.get('old')?.dirty)
        }"
      />
      <div
        *ngIf="
          this.change.get('old')?.invalid &&
          !this.change.get('old')?.errors?.maxlength &&
          !this.change.get('old')?.errors?.minlength
        "
        class="invalid-feedback"
      >
        Insira sua senha atual.
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <label for="new" class="form-label">Nova Senha:</label>
      <input
        id="new"
        name="new"
        type="password"
        class="form-control"
        formControlName="new"
        [ngClass]="{
          'is-invalid':
            this.change.get('new')?.invalid &&
            (this.change.get('new')?.touched || this.change.get('new')?.dirty),
          'is-valid':
            this.change.get('new')?.valid &&
            (this.change.get('new')?.touched || this.change.get('new')?.dirty)
        }"
      />
      <div
        *ngIf="
          this.change.get('new')?.invalid
        "
        class="invalid-feedback"
      >
        A senha deve conter:
        <ul>
          <li>A senha deve conter letras e números</li>
          <li>Pelo menos um Caractere Especial (@,!. etc)</li>
          <li>No mínimo 8 dígitos</li>
          <li>No máximo 20 dígitos</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <label for="repeat" class="form-label">Repetir Nova Senha:</label>
      <input
        id="repeat"
        name="repeat"
        type="password"
        class="form-control"
        formControlName="repeat"
        [ngClass]="{
          'is-invalid':
            this.change.get('repeat')?.invalid &&
            (this.change.get('repeat')?.touched || this.change.get('repeat')?.dirty),
          'is-valid':
            this.change.get('repeat')?.valid &&
            (this.change.get('repeat')?.touched || this.change.get('repeat')?.dirty)
        }"
      />
      <div
        *ngIf="
          this.change.get('repeat')?.invalid &&
          !this.change.get('repeat')?.errors?.maxlength &&
          !this.change.get('repeat')?.errors?.minlength
        "
        class="invalid-feedback"
      >
        As senhas digitadas não coincidem.
      </div>
    </div>
  </div>

   <div class="row d-flex justify-content-center mt-2">
      <div class="col-md-6">
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <button
              class="btn btn-info"
              [disabled]="changing"
              (click)="changePassword()"
            >
              Alterar
            </button>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <button
              class="btn btn-danger"
              [disabled]="changing"
              (click)="cancel()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
</form>
